.sidebar {
    position: fixed;
    width: 322px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #0096CC;
    z-index: 1000;
    transform-origin: top;  
    transition: .5 ease-in-out;
    box-shadow: 4px 4px 9px #a09f9f;
}

.gbpic-cont {
    position: relative;
    margin: 0 auto 2rem;
    width: 115.28px;
    height: 121px;
    padding-top: 28px;
}

.gbpic {
    width: 115.28px;
    height: 121px;
    border-radius: 90px; 
}

.sidebar h2 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 52px;
}

.menu li {
    width: 242px;
    margin: 20px 0;
    margin-left: 36px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.research-sidebar-btn:hover ul {
  display: block;
}

.research-sidebar-btn {
  animation-name: togglewr;
  animation-duration: 1s;
}

@keyframes toggle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tooglewr {
  from {
    height: 30px;
  }
  to{
    height: 150px;
  }
}

.sub-research {
  display: none;
  animation-name: toggle;
  animation-duration: 1s;
}

.sub-research li {
  width: 200px !important;
  padding: 0 !important;
  margin-left: 25px;
  
}

.menu a {
    height: 38px;   
    color: #e0e0e0;    
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar li:hover a {
    color: #fff;
}

/*==== SOCIAL =====*/

.footer {
    position: absolute;
    width: 242px;
    bottom: 3rem;
    margin: 0 36px;
    background-color: #0096CC;
    height: 5rem; 
  }
  
  .footer ul{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  .footer li{
    list-style: none;
    margin: 0 5px;
  }
  .footer a {
    width: 35px;
    height: 35px;
    color: #000;
    background: #fff;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff; 
    position: relative;
    transition: .3s
  }
  
  .footer .fa {
    position: relative;
    transition: .5s
  }
  
  .footer a:hover {
    background-color: #0096CC;
    color: #fff;
  }
  
  .google-scholar {
    width: 22px;
    text-align: center;
    padding-top: 15%;
  }
  
  .academia-edu {
    width: 18px;
    text-align: center;
    padding-top: 20%;
  }

  .copyright {
      position: absolute;
      font-weight: normal;
      bottom: -1rem;
      font-size: 16px;
      margin-left: 35px; 
  }

  /*style for menu button*/
.container {
    display: none;
    cursor: pointer;
    margin: .4rem 0 0;
    padding-left: 1.5rem;
    z-index: 1000;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 0.2rem;
}

.changebar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.changebar2 {opacity: 0;}

.changebar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-bar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  line-height: 75px;
  background-color: #000;
  padding-left: 20px;
  color: #fff;
  z-index: 100;
}


  
  @media screen and (max-width: 400px) {
    .show-sidebar {
      animation-name: showSidebar;  
      animation-duration: .5s;  
      left: -20px; 
      box-shadow: none;
    }

    @keyframes showSidebar {
      from { 
        left: -350px;
      }
      to {
        left: -20px;
      }
    }

    .hide-sidebar {
      animation-name: hideSidebar;  
      animation-duration: .5s; 
      left: -350px; 
    }

    @keyframes hideSidebar {
      from { 
        left: -20px;
      }
      to {
        left: -350px;
      }
    }

    .mobile-bar {
      display: block;
    }

    .mobile-bar h1 {
      font-family: 'Great Vibes', cursive;
      font-weight: 200;
      font-size: 38px;
    }

    .container {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 1000;
    }
}